.name-container {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
}

.basic-info-container {
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    padding: 0.5em 0;
    border: 1px solid rgb(171, 171, 171);
}

.basic-info-child-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.basic-info-title {
    text-align: left;
    font-weight: bold;
    width: 33%;
    padding-left: 1em;
}

.basic-info-content {
    text-align: left;
    width: 66%;
}

.personal-records-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 1em 0 0.5em 0;
}

.table-container {
    overflow-x: auto;
    border: 1px solid rgb(171, 171, 171);
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container table thead {
    background-color: rgba(0, 0, 0, 0.11);
    border-bottom: 2px solid #ddd;
    font-weight: bold;
}

.table-container table td {
    padding: 0.3em 1em;
    text-wrap: nowrap;
}

/* .table-container table td.event-col {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: left;
} */

.table-container table td img {
    height: 1.8em;
    display: inline-block;
    margin-right: 1em;
}

.table-container .event-col img, .table-container .event-col span {
    vertical-align: middle;
}

.table-container table tbody tr {
    transition: all 0.2s ease;
}

.table-container table tbody tr:nth-child(even) {
    background-color: #eaeaea;
}

.table-container table tbody td {
    border-bottom: 1px solid #ddd;
}

.table-container table tbody tr:hover {
    background-color: #d0d0d0;
}

.table-container table .text-center {
    text-align: center;
}

.table-container table .text-left {
    text-align: left;
}

.table-container table .text-right {
    text-align: right;
}

.table-container table .text-bold {
    font-weight: bold;
}

.table-container table .in-top-10 {
    color: red;
}

.table-container table .is-pr {
    color: #fc4a0a;
}

.table-container table .best-in-avg {
    color: green;
}

.table-container table .worst-in-avg {
    color: red;
}

.medals-records-container {
    display: flex;
    flex-direction: column;
}

.medals-records-content.table-container table td img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.table-container table .record-badge {
    display: inline-block;
    line-height: 1;
    padding-top: 6.4px;
    padding-bottom: 6.4px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
    font-size: 0.7em;
    border-radius: 4px;
    border: 0.1px solid rgba(0, 0, 0, 0.87);
    width: fit-content;
}

.table-container table .wr-badge {
    color: rgb(255, 255, 255);
    background-color: rgb(244, 67, 54);
}

.table-container table .cr-badge {
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(255, 235, 59);
}

.table-container table .nr-badge {
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(0, 230, 118);
}

.medals-records-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 1em 0 0.5em 0;
}

.results-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 1em 0 0.5em 0;
}

.results-tabs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.results-tabs div.close {
    flex: 1;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    border: 1px solid transparent;
    border-bottom: 1px solid rgb(171, 171, 171);
    border-radius: 0.5em 0.5em 0 0;
    padding: 0.5em 0;
    transition: all 0.2s ease;
}

.results-tabs div.open {
    flex: 1;
    text-align: center;
    font-size: 1.5em;
    border: 1px solid rgb(171, 171, 171);
    border-bottom: 1px solid transparent;
    border-radius: 0.5em 0.5em 0 0;
    padding: 0.5em 0;
}

.results-tabs div.close:hover {
    background-color: #eaeaea;
}

.results-events-container {
    border: 1px solid rgb(171, 171, 171);
    border-top: none;
    border-bottom: none;
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.results-events-container div {
    padding: 0.4em;
    border-radius: 0.5em;
}

.results-events-container div img {
    cursor: pointer;
    transition: all 0.2s ease;
}

.results-events-container div.is-not-focus img {
    height: 2em;
    opacity: 0.3;
}

.results-events-container div.is-focus img {
    height: 2em;
    opacity: 1;
}

.results-events-container div.is-not-focus img:hover {
    opacity: 0.6;
}

.results-table-container {
    border-top: none;
}

.results-table-container table thead tr th {
    padding: 0.3em 1em;
    text-wrap: nowrap;
    text-align: left;
}

.results-table-container table thead tr th.result-event-col {
    padding: 0.3em 1em 0 1em;
    text-wrap: nowrap;
    text-align: left;
}

.results-table-container table thead tr th img {
    height: 1.8em;
    display: inline-block;
    margin-right: 0.5em;
}

.results-table-container table thead tr th img, .results-table-container table thead tr th span {
    vertical-align: middle;
}

/* === Media Queries (Breakpoints) === */
/* Mobile First - 0px and up */
@media (min-width: 576px) {
    /* Small devices (landscape phones) */
    
    .basic-info-title {
        text-align: right;
        font-weight: bold;
        width: 50%;
        padding-left: 0;
    }

    .basic-info-content {
        text-align: left;
        width: 50%;
    }
}

@media (min-width: 768px) {
    /* Medium devices (tablets) */

    .basic-info-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .basic-info-child-container {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .basic-info-child-container div {
        width: 100%;
    }

    .basic-info-title {
        text-align: center;
        font-weight: bold;
    }

    .basic-info-content {
        text-align: center;
    }

    .medals-records-container {
        flex-direction: row;
        gap: 1em;
        justify-content: space-around;
    }

    .medals-records-child-container {
        width: 50%;
    }
}

@media (min-width: 992px) {
    /* Large devices (desktops) */

}