.rankings-page {
  width: 80vw;
}

.rankings-page .rankings-officity {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rankings-page .rankings-officity .rankings-tab {
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    transition: all 0.2s ease;
}

.rankings-page .rankings-officity .rankings-tab:hover {
    background-color: rgb(242, 242, 242);
    cursor: pointer;
}

.rankings-page .rankings-officity .active {
    color: rgb(218, 37, 29);
}

.wca-filters {
    /* background-color: rgb(242, 242, 242); */
    padding: 0.5em;
    border-radius: 0.5em;
    text-align: center;
    font-size: 1em;
    margin: 0.5em;
    box-shadow: 0 2px 4px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .15);
}

.wca-filters form label span {
    font-weight: bold;
}

.wca-filters form label select {
    width: fit-content;
    margin: 0 1.5em 0 0.5em;
}

.wca-filters form label select:hover {
    cursor: pointer;
}

.wca-filters form button {
    background-color: #009c95;
    color: rgb(255, 255, 255);
    padding: 0.3em 1em;
    border-radius: 0.5em;
    transition: all 0.2s ease;
    font-weight: bold;
}

.wca-filters form button:hover {
    opacity: 0.8;
}

.ranking-table {
    width: 100%;
}

.spinner {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 3s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner-container {
    display: flex;
    justify-content: center;
    padding-top: 3em;
}

.no-result {
    text-align: center;
    padding-top: 3em;
}

.ranking-table table {
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
    font-family: system-ui, sans-serif;
    font-size: 0.95em;
    margin-top: 1rem;
}

.ranking-table thead {
    background-color: #f9f9f9;
    border-bottom: 2px solid #ddd;
}

.ranking-table th, .ranking-table td {
    padding: 0.75rem 1rem;
    text-align: left;
}

.ranking-table th {
    background-color: #f9f9f9;
    border-bottom: 2px solid #ddd;
    font-weight: 600;
    color: #333;
    position: sticky;
    /* top: 5em; */
    top: var(--navbar-offset);
}

.ranking-table tbody tr {
    border-bottom: 1px solid #eee;
    transition: background-color 0.2s;
}

.ranking-table tbody tr:hover {
    background-color: #f4f4f4;
}

.ranking-table .ext-link {
    color: #0070f3;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s;
}

.ranking-table .ext-link:hover {
    color: #0051b2;
    text-decoration: underline;
}

.sor-event-icon, .medal-icon {
    width: 1em;
}

.sor-column {
    font-weight: bold;
}

.ranking-table .is-worst {
    color: rgb(204, 0, 0);
}

.ranking-table .is-top-10 {
    color: #00b700;
}

.kinch-table th, .kinch-table td {
    padding: 0.75em 0.5em;
    text-align: left;
}

.ranking-table .is-0 {
    color: #9fa6ac;
}

.ranking-table .is-100 {
    color: #00b700;
}

.ranking-table .gold {
    color: rgb(255, 215, 0);
}

.ranking-table .silver {
    color: rgb(192, 192, 192);
}

.ranking-table .bronze {
    color: rgb(205, 127, 50);
}

.ranking-table .record-badge {
    display: block;
    line-height: 1;
    padding-top: 6.4px;
    padding-bottom: 6.4px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
    font-size: 0.7em;
    border-radius: 4px;
    border: 0.1px solid rgba(0, 0, 0, 0.87);
    width: fit-content;
}

.ranking-table .wr-badge {
    color: rgb(255, 255, 255);
    background-color: rgb(244, 67, 54);
}

.ranking-table .cr-badge {
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(255, 235, 59);
}

.ranking-table .nr-badge {
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(0, 230, 118);
}