.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.8em 1.6em;
    background-color: rgb(242, 242, 242);
    color: rgb(26, 26, 26);
    position: sticky;
    top: 0;
    z-index: 999;
    transition: 0.4s;
    font-size: 1em;
}

.navbar.scrolled {
    padding: 0.4em 1em;
}

.navbar .logo {
    font-weight: bold;
    height: inherit;
}

.navbar .logo a img {
    height: 4em;
    transition: height 0.3s ease;
}

.navbar .nav-links {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar .nav-links a {
    font-weight: bold;
    font-size: 1.2em;
    padding: 1em;
    color: rgb(26, 26, 26);
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.2s ease, transform 0.2s ease;
}

.navbar .nav-links a:hover {
    color: rgb(218, 37, 29);
    transform: translateY(-2px);
}



.navbar .auth a {
    border-radius: 1em;
    padding: 0.5em 1em;
    color: rgb(26, 26, 26);
    text-decoration: none;
    transition:  background-color 0.2s ease, color 0.2s ease;
}

.navbar .auth a:hover {
    color: rgb(218, 37, 29);
    background-color: rgb(249, 212, 210);
    cursor: pointer;
}


/* === Media Queries (Breakpoints) === */
/* Mobile First - 0px and up */
@media (min-width: 576px) {
    /* Small devices (landscape phones) */
}

@media (min-width: 768px) {
    /* Medium devices (tablets) */

}

@media (min-width: 992px) {
    /* Large devices (desktops) */

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.8em 1.6em;
        background-color: rgb(242, 242, 242);
        color: rgb(26, 26, 26);
        position: sticky;
        top: 0;
        z-index: 999;
        transition: 0.4s;
        font-size: 1em;
    }

    .navbar.scrolled {
        padding: 0.4em 1em;
    }

    .navbar .nav-links {
        flex-direction: row;
    }
}