.footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    padding: 0.8em 0.8em;
    background-color: rgb(242, 242, 242);
    color: rgb(26, 26, 26);
    font-size: 1em;
}

.footer.hide {
    display: none;
}

.footer .logo {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .logo a img {
    height: 4em;
}


.contact {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.team-contact {
    width: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}

.team-title {
    font-weight: bold;
    font-size: 1em;
}

.team-contact .team-links a {
    display: inline-block;
    margin: 0 0.25em;
    font-size: 1.2em;
    color: rgb(26, 26, 26);
    transition: color 0.2s ease, transform 0.2s ease;
}

.team-contact .team-links a:hover {
    color: rgb(218, 37, 29);
    transform: translateY(-2px);
}

.team-contact .team-links a svg {
  width: 1.8em;
  height: 1.8em;
  fill: currentColor; /* This makes it follow the text color */
}


/* === Media Queries (Breakpoints) === */
/* Mobile First - 0px and up */
@media (min-width: 576px) {
    /* Small devices (landscape phones) */

    .contact {
        display: flex;
        flex-direction: row;
        gap: 1em;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    /* Medium devices (tablets) */

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0.8em 0.8em;
        background-color: rgb(242, 242, 242);
        color: rgb(26, 26, 26);
        font-size: 1em;
    }
}

@media (min-width: 992px) {
    /* Large devices (desktops) */

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0.8em 1.6em;
        background-color: rgb(242, 242, 242);
        color: rgb(26, 26, 26);
        font-size: 1em;
    }

    .contact {
        display: flex;
        flex-direction: row;
        gap: 4em;
        padding: 0 4em;
    }
}