.sub-heading {
    text-align: center;
    padding: 0.8em;
    margin: 1em;
    font-size: 1.2em;
    background-color: none;
    color: rgb(218, 37, 29);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.comps-list {
    display: grid;
    grid: auto / 1fr;
    gap: 1em;
}

.comp-card {
    background-color: rgb(211, 211, 211);
    width: 100%;
    padding: 1em;
    border-radius: 0.5em;
    transition: all 0.2s ease;
}

.comp-card:hover {
    transform: translateY(-4px);
}

.comp-card .comp-tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.comp-card .comp-tag img {
    width: 1.5em;
    height: 1.5em;
    margin: 0 0.5em;
}

.comp-card .comp-info .comp-name {
    display: block;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

.comp-card .comp-info .comp-events {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.comp-card .comp-info .comp-events img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
}


/* === Media Queries (Breakpoints) === */
/* Mobile First - 0px and up */
@media (min-width: 576px) {
    /* Small devices (landscape phones) */
    
    .comps-list {
        display: grid;
        grid: auto / 1fr 1fr;
    }
}

@media (min-width: 768px) {
    /* Medium devices (tablets) */

    .comps-list {
        display: grid;
        grid: auto / 1fr 1fr;
    }
}

@media (min-width: 992px) {
    /* Large devices (desktops) */

    .comps-list {
        display: grid;
        grid: auto / 1fr 1fr 1fr 1fr;
    }
}