.access-denied {
    display: grid;
    grid: auto / auto;
    text-align: center;
}

.manage-competition-page {
    display: grid;
    grid: auto / auto;
    gap: 1em;
}

.manage-competition-page .competition-manage-box {
    border: 1px solid black;
    border-radius: 1em;
    padding: 1em;
    overflow-x: auto;
}

.manage-competition-page .competition-manage-box h3 {
    text-align: center;
}

.manage-competition-page .competition-manage-box .search-box {
    border: none;
    box-shadow: 0 2px 4px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .15);
    border-radius: 1em;
    padding: 1em;
    display: flex;
    gap: 0.5em;
}

.manage-competition-page .competition-manage-box .search-box input {
    flex: 1;
}

.manage-competition-page .competition-manage-box .search-box select {
    width: fit-content;
    white-space: nowrap;
}

.manage-competition-page .competition-manage-box .search-box button {
    width: fit-content;
    white-space: nowrap;
    padding: 0 1em;
    background-color: #1976d2; /* primary blue */
    color: #fff;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    transition: all 0.2s ease;
}

.manage-competition-page .competition-manage-box .search-box button:hover {
    background-color: #1565c0;
}

.manage-competition-page .competition-manage-box .search-box button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.table-container {
    margin-top: 1em;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

.table-container thead {
    background-color: #f4f4f4;
}

.table-container thead td {
    font-weight: bold;
    text-align: left;
    padding: 0.8em;
    border-bottom: 2px solid #ddd;
}

.table-container tbody td {
    padding: 0.8em;
    border-bottom: 1px solid #eee;
}

.table-container tbody tr:hover {
    background-color: #f9f9f9;
}

.table-container td {
    color: #333;
}

.create-comp-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: grid;
    place-items: center;
    z-index: 1000;
}

.create-comp-container {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.create-comp-container.show::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.create-comp-box {
    flex: 1;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-top: 1px solid transparent;
    padding: 1em;
}

.create-comp-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

.create-comp-footer button {
    padding: 0.5em 1em;
    border-radius: 0.5em;
    transition: all 0.2s ease;
}

.create-comp-footer button.btn-abort {
    color: rgb(255, 255, 255);
    background-color: rgb(244, 67, 54);
}

.create-comp-footer button.btn-abort:hover {
    background-color: rgb(177, 52, 43);
}

.create-comp-footer button.btn-submit {
    color: rgb(255, 255, 255);
    background-color: #1976d2;
}

.create-comp-footer button.btn-submit:hover {
    background-color: #1254a0;
}


.create-comp-tabs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-x: auto;
}

.create-comp-tab {
    padding: 1em;
    flex: 1;
    text-align: center;
    border: 1px solid transparent;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    font-weight: bold;
    border-radius: 0.5em 0.5em 0 0;
}

.comp-info-tab {
    text-wrap: nowrap;
    width: fit-content;
}

.add-info-tab {
    font-weight: bolder;
    width: fit-content;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-comp-tab.open {
    color: #da251d;
    border: 1px solid #ddd;
    border-bottom: 1px solid transparent;
}

.create-comp-tab.renaming {
    padding: 0 1em;
}

.create-comp-tab:hover {
    background-color: #ebe9e9;
    cursor: pointer;
}

.add-info-tab:hover {
    background-color: #ebe9e9;
    cursor: pointer;
}

.add-info-tab:hover > svg {
    fill: #da251d;
}

.create-comp-tab input {
    line-height: 1;
    vertical-align: middle;
    width: 100%;
    min-width: 10em;
}

.create-comp-box label {
    font-weight: 600;
}

.create-comp-box input {
    margin: 0.5em 0 1em 0;
}

.create-comp-box select {
    width: fit-content;
    margin: 1em;
}

input[type="datetime-local"],
input[type="date"], input[type="number"] {
    /* max-width: 20em; */
    width: fit-content;
    margin: 1em;
}


.event-segment-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
    box-shadow: 0 2px 4px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .15);
}

.event-segment-box input {
    width: fit-content;
    margin: 0.5em 1em;
}

.event-segment-box input[type="number"] {
    width: 5em;
}

.add-event-segment {
    text-align: center;
    margin: 0.5em;
}

.add-event-segment span {
    margin: 0.5em;
    padding: 0.25em 0.75em;
    border-radius: 1em;
}

.add-event-segment span:hover {
    background-color: #ddd;
    cursor: pointer;
}

.event-segment-box svg {
    width: 2em;
    border-radius: 0.5em;
}

.event-segment-box svg:hover, .create-comp-tabs-container svg:hover {
    fill: #da251d;
    cursor: pointer;
}

.create-comp-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.create-comp-tab span {
    flex: 1;
}

.create-comp-tabs-container svg {
    width: 1.5em;
}

.save-info-tabs {
    color: rgb(255, 255, 255);
    background-color: rgb(244, 67, 54);
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    transition: all 0.2s ease;
}

.save-info-tabs:hover {
    background-color: rgb(177, 52, 43);;
}

.event-edit-tab-box {
    display: grid;
    grid-template-columns: auto;
    gap: 1em;
    margin: 1em 0;
}

.event-edit {
    border: 1px solid rgb(201, 201, 201);
    border-radius: 0.5em;
    height: fit-content;
}

.event-edit-header {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(201, 201, 201);
}

.event-edit-header-left {
    font-weight: 500;
}

.event-edit-header-right {
    display: flex;
    flex-direction: row;
    gap: 0.2em;
}

.event-edit-header-right span {
    color: #fff;
    transition: all 0.2s ease;
    padding: 0.3em 0.5em;
    border-radius: 0.4em;
}

.event-edit-header-right select {
    transition: all 0.2s ease;
    padding: 0.3em 0.5em;
    margin: 0;
    border-radius: 0.4em;
}

.event-edit-header-right span:hover {
    cursor: pointer;
}

.event-edit-header-right .bg-blue {
    background-color: #1976d2;
}

.event-edit-header-right .bg-blue:hover {
    background-color: #1254a0;
}

.event-edit-header-right .bg-red {
    background-color: #f44336;
}

.event-edit-header-right .bg-red:hover {
    background-color: #b1342b;
}

.event-edit-header-right .bg-green {
    background-color: #04aa6d;
}

.event-edit-header-right .bg-green:hover {
    background-color: #018f5b;
}

.event-edit table {
    margin: 1em 0;
    width: 100%;
    font-size: 0.9em;
    border-collapse: collapse;
}

.event-edit table thead td {
    font-weight: 600;
    border-bottom: 1px solid #e2e6ea;
    text-align: center;
    padding: 0 1em;
}

.event-edit table tbody td {
    text-align: center;
}

.event-edit table input {
    width: 6em;
    text-align: center;
}

.event-edit table .input-number {
    width: 4em;
}

.spinner {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 3s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner-container {
    display: flex;
    justify-content: center;
    padding-top: 3em;
}

.fc {
    flex-grow: 1;
    height: 100% !important;
}

.on-tab-2 {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

#draggable-event-container {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    width: 10em;
    align-items: center;
}

.draggable-event {
    padding: 0.4em;
    background-color: #1976d2;
    color: #fff;
    border-radius: 0.4em;
    cursor: grab;
    user-select: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.not-draggable-event {
    padding: 0.4em;
    background-color: #1976d2ad;
    color: #fff;
    border-radius: 0.4em;
    user-select: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.draggable-event svg, .not-draggable-event svg {
    height: 2em;
    fill: #d4d4d4;
}

.draggable-event svg:hover, .not-draggable-event svg:hover {
    fill: #ff9a93;
    cursor: pointer;
}

.new-activity-button {
    padding: 0 0.4em;
    background-color: #04aa6d;
    color: #fff;
    border-radius: 1em;
    user-select: none;
    cursor: pointer;
    text-align: center;
    width: fit-content;
    transition: all 0.2s ease;
}

.new-activity-button:hover {
    background-color: #018f5b;
}

/* === Media Queries (Breakpoints) === */
/* Mobile First - 0px and up */
@media (min-width: 576px) {
    /* Small devices (landscape phones) */

    .event-edit-tab-box {
        grid-template-columns: auto;
    }
}

@media (min-width: 768px) {
    /* Medium devices (tablets) */

    .manage-competition-page {
        display: grid;
        grid: auto / auto auto;
        gap: 1em;
    }

    .create-comp-container {
        border: 1px solid #ccc;
        padding: 1em;
        border-radius: 0.5em;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: calc(100% - 2em);
        height: 70vh;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
    }

    .event-edit-tab-box {
        grid-template-columns: auto auto;
    }
}

@media (min-width: 992px) {
    /* Large devices (desktops) */

    .create-comp-container {
        border: 1px solid #ccc;
        padding: 1em;
        border-radius: 0.5em;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: calc(100% - 16em);
        height: calc(100% - 4em);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
    }

    .event-edit-tab-box {
        grid-template-columns: auto auto auto;
    }
}