.login-page {
    /* min-height: 100vh; Adjust if Navbar/Footer size changes */
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #f0f2f5; */
    padding: 0;
}

.login-box {
    background: rgb(242, 242, 242);
    padding: 30px;
    border-radius: 12px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    width: 100%;
    max-width: 400px;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-box label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.login-box button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}